flask
flask-cors
pillow
pytesseract
requests
python-multipart
rapidfuzz
firebase-admin
pdf2image
opencv-python
numpy
pymupdf
python-dotenv
python-dateutil
unidecode
scikit-image
pyyaml
tqdm
gunicorn
dlib==19.24.2
face_recognition==1.3.0
