flask
flask-cors
pillow
pytesseract
requests
python-multipart
rapidfuzz
firebase-admin
pdf2image
poppler-utils
opencv-python
numpy
pymupdf
python-dotenv
python-dateutil
unidecode
scikit-image
pyyaml
tqdm
gunicorn